<div class="full-screen-login">
  <div class="login-background"></div>
  <div class="login-container">
    <div class="login-content">
      <h1 class="neon-text">Iniciar Sesión</h1>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit($event)">
        <div class="input-group">
          <input type="text" id="userName" formControlName="userName" placeholder="Usuario">
          <span class="input-icon">
            <i class="fas fa-user"></i>
          </span>
        </div>

        <div class="input-group">
          <input type="password" id="password" formControlName="password" placeholder="Contraseña">
          <span class="input-icon">
            <i class="fas fa-lock"></i>
          </span>
        </div>

        <div *ngIf="errorMessage" class="error-message">
          {{ errorMessage }}
        </div>

        <button type="submit" class="submit-btn">
          <span>Iniciar Sesión</span>
        </button>
      </form>
    </div>
  </div>
</div>
