/* styles.css */
body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    margin-top: auto; /* Ajuste del margen superior */
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .title {
    color: #333;
    margin-bottom: 20px;
  }
  
  .form {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
    position: relative;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #333;
  }
  
  .btn-primary {
    background-color: #f1c40f;
    color: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .btn-primary:hover {
    background-color: #f39c12;
  }
  
  .display {
    width: 100%;
    border-collapse: collapse;
  }
  
  .display th, .display td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  .display th {
    background-color: #333;
    color: #fff;
  }
  
  .btn-icon {
    border: none;
    background: none;
    cursor: pointer;
    color: #f1c40f;
    font-size: 14px;
    margin-right: 10px;
  }
  
  .btn-icon.edit:hover {
    color: #e67e22;
  }
  
  .btn-icon.delete:hover {
    color: #e74c3c;
  }
  
  p {
    color: #666;
  }
  